# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
config/haproxy/*
alb
alb2
migrate_priority
migrate_v26tov28
*.DS_Store
haproxy.cfg.new
policy.new
VERSION
test.json
coverage-all.out
alb-nginx/luacov.stats.out
temp/
.wc/
scripts/e2e/.tmp
.scannerwork
