user  nginx;
worker_rlimit_nofile 100000;
worker_processes     auto;
worker_cpu_affinity  auto;

error_log  /var/log/nginx/error.log notice;
pid        /var/run/nginx.pid;

env SYNC_POLICY_INTERVAL;
env SYNC_BACKEND_INTERVAL;
env NEW_POLICY_PATH;

events {
    multi_accept        on;
    worker_connections  51200;
}

# Name: {{.Name}}
# Hash: {{.TweakHash}}

http {
    include       /usr/local/openresty/nginx/conf/mime.types;
    include       /alb/tweak/http.conf;
    default_type  application/octet-stream;

    log_format  http  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $upstream_status $upstream_addr $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"'
                      '"$gzip_ratio" $request_time $bytes_sent $request_length';
    access_log  /var/log/nginx/access.log  http buffer=16k flush=1s;
    rewrite_log on;
    vhost_traffic_status_zone;

    init_by_lua_block {
            require "resty.core"
            require "init_l7"
            ok, res = pcall(require, "balancer")
            if not ok then
              error("require failed: " .. tostring(res))
            else
              balancer = res
            end
    }
    init_worker_by_lua_file /alb/template/nginx/lua/worker.lua;

    server {
        listen 1936;
        listen [::]:1936;

        access_log off;
        location /admin {
            stub_status;
        }
        location /status {
            vhost_traffic_status_display;
            vhost_traffic_status_display_format html;
        }

        location /policies {
            content_by_lua_file /alb/template/nginx/lua/policy.lua;
            client_body_buffer_size 5m;
            client_max_body_size 10m;
        }
    }

    {{range $port, $ft := .Frontends }}
    {{if eq $ft.Protocol "http" -}}
    server {
        listen      {{$port}} default_server;
        listen      [::]:{{$port}} default_server;
        server_name _;

        location / {
            set $upstream default;
            rewrite_by_lua_file /alb/template/nginx/lua/l7_rewrite.lua;
            proxy_pass http://http_backend;
        }
    }

    {{- end -}}
    {{- end -}}

    {{range $port, $ft := .Frontends -}}
    {{- if eq $ft.Protocol "https" }}
    server {
        listen      {{$port}} ssl;
        listen      [::]:{{$port}} ssl;
        server_name _;

        add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;

        ssl_certificate /alb/template/nginx/placeholder.crt;
        ssl_certificate_key /alb/template/nginx/placeholder.key;

        ssl_certificate_by_lua_file /alb/template/nginx/lua/cert.lua;

        location / {
            set $upstream default;
            rewrite_by_lua_file /alb/template/nginx/lua/l7_rewrite.lua;
            proxy_pass http://http_backend;
        }
    }
    {{- end -}}
    {{- end -}}

    upstream http_backend {
        server 0.0.0.1:1234;   # just an invalid address as a place holder

        balancer_by_lua_block {
            balancer.balance()
        }
        include       /alb/tweak/upstream.conf;
    }

}

stream {
    include       /alb/tweak/stream.conf;

    lua_add_variable $upstream;

    init_by_lua_block {
            require "resty.core"
            require "init_l4"
            ok, res = pcall(require, "balancer")
            if not ok then
              error("require failed: " .. tostring(res))
            else
              balancer = res
            end
    }
    init_worker_by_lua_file /alb/template/nginx/lua/worker.lua;

    {{- range $port, $ft := .Frontends}}
    {{- if eq $ft.Protocol "tcp"}}
    server {
        listen {{$port}};
        listen [::]:{{$port}};

        preread_by_lua_file /alb/template/nginx/lua/l4_preread.lua;
        proxy_pass tcp_backend;
    }
    {{- end}}
    {{- end}}

    upstream tcp_backend {
        server 0.0.0.1:1234;   # just an invalid address as a place holder

        balancer_by_lua_block {
            balancer.balance()
        }
    }
}
